In [11]:
import pandas as pd
import numpy

In [19]:
url='https://raw.githubusercontent.com/fivethirtyeight/data/master/births/US_births_2000-2014_SSA.csv'
df=pd.read_csv(url,encoding="ISO-8859-1")
df.isna().sum()

year             0
month            0
date_of_month    0
day_of_week      0
births           0
dtype: int64

In [20]:
#Chat GPT chat log: https://chatgpt.com/c/66e35ed3-4284-800e-a966-f451e5195406
#Chat GPT chat log:https://chatgpt.com/c/66e391cc-9c44-800e-8c3d-56f7c7cb69e6

In [25]:
num_columns = data.shape[1]
print("Number of columns:", num_columns)

Number of columns: 5

In [ ]:
#observation: It is the rows in the dataset, which contains many analysis and events
#variable: It is the colunm in the dataset, which cantains the type of information

In [26]:
print("Dataset Info:")
print(data.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5479 entries, 0 to 5478
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           5479 non-null   int64
 1   month          5479 non-null   int64
 2   date_of_month  5479 non-null   int64
 3   day_of_week    5479 non-null   int64
 4   births         5479 non-null   int64
dtypes: int64(5)
memory usage: 214.2 KB
None

In [27]:
print("\nDescriptive Statistics:")
print(data.describe(include='all'))

Descriptive Statistics:
              year        month  date_of_month  day_of_week        births
count  5479.000000  5479.000000    5479.000000  5479.000000   5479.000000
mean   2006.999270     6.522723      15.730243     3.999817  11350.068261
std       4.321085     3.449075       8.801151     2.000502   2325.821049
min    2000.000000     1.000000       1.000000     1.000000   5728.000000
25%    2003.000000     4.000000       8.000000     2.000000   8740.000000
50%    2007.000000     7.000000      16.000000     4.000000  12343.000000
75%    2011.000000    10.000000      23.000000     6.000000  13082.000000
max    2014.000000    12.000000      31.000000     7.000000  16081.000000

In [ ]:
#df.shape 
provide the total number of rows and columns in the datasets
#df.describe() 
provides the total number of columns in the datasets
#df.describe_stats.loc['count'] 
provided total number of non-null value in the column
#Conpare those number, to find missing data in the column

In [ ]:
#df.shape represent the numner of rows and columns (Attributes, and do not perform any action or computation)->without ()
#df.describe represent a summary of statistics(Method, perform action ot computations)

In [ ]:
#count:
the number of non-null values in the column
#mean:
the average value of the non-null entries
#std:
the standard deviation, the distribution of the value abound the mean
#min:
minimum value in the column
#max:
maximum value in teh column
#25%,50%,75%:2
5%,50%,75% of the data points are below this value

In [ ]:
#For question 7 df.dropne preferred over using del df['col']
ProductID ProductName  Sales  Discount
0        101           A  200.0       NaN
1        102           B    NaN      10.0
2        103           C  250.0       5.0
3        104           D  300.0       NaN

#Output
ProductID ProductName  Sales  Discount
2        103           C  250.0       5.0

#To remove rows which contain missing values

In [ ]:
#For question 7 del df['col'] preferred over using df.dropne
Remove Middle Name cloumn

CustomerID FirstName MiddleName LastName  PurchaseAmount
0           1      John        NaN      Doe             150
1           2      Jane      Marie    Smith             200
2           3      Jake        NaN  Johnson              50
3           4      Jill         L.    Brown             300

#Output
CustomerID FirstName MiddleName LastName  PurchaseAmount
0           1      John        NaN      Doe             150
1           2      Jane      Marie    Smith             200
2           3      Jake        NaN  Johnson              50
3           4      Jill         L.    Brown             300

#To remove columns, regardless of missing values

In [ ]:
#Applying del df['col'] before df.dropna() can delect data more fluently, without depending on missing values, and avoid losing useful rows which with missing values.

In [ ]:
#Usful combination
1.Delect unuseful columns with del df['col']
2.Delect rows with missing values

In [ ]:
#df.groupby("col1")
Data based on values in col1 and no aggregation performed. It will impact the whole data group
#df["col2"].describe()
Without any grouping, only focus solely on col2 gives the summary of distribution

In [ ]:
#df.describe() and df.groupby("col1")["col2"]
df.groupby("col1")["col2"] give more detal view of non-missing data than df.describe()

In [ ]:
somewhat